<div class="container">
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="wrapper">
        <div class="content">
            <h2>Welcome to Ellite Where Learning Comes to Life</h2>
            <p>At Ellite, we believe that every child deserves an exceptional education
                that ignites their curiosity, nurtures their talents,and prepares them
                for a bright future.</p>
            <a href="#learn_more" class="btn">Learn more</a>
        </div>
        <div class="image">
            <img src="./assets/image/std2.jpg" alt="">
        </div>
    </div>
</div>