<div class="contactUs">
    <div class="title">
        <h2>Get in Touch</h2>
    </div>
    <div class="box">
        <!--form box -->
        <div class="contact form">
            <h3>Send a Message </h3>
            <form>
                <div class="formBox">
                    <div class="row50">
                        <div class="inputBox">
                            <samp>First Name</samp>
                            <input type="text" placeholder="ghalia">
                        </div>
                        <div class="inputBox">
                            <samp>Last Name</samp>
                            <input type="text" placeholder="Ashr">
                        </div>
                    </div>
                    <div class="row50">
                        <div class="inputBox">
                            <samp>Email</samp>
                            <input type="text" placeholder="ghalaiashr@gmail.com">
                        </div>
                        <div class="inputBox">
                            <samp>Mobile</samp>
                            <input type="text" placeholder="+216 29923380">
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBox">
                            <samp>Message</samp>
                            <textarea placeholder="Write your message here .."></textarea>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBox">
                            <input type="submit" value="Send">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--info box-->
        <div class="contact info">
            <h3>Contact Info</h3>
            <div class="infoBox">
                <div>
                    <samp>
                        <i class="fa-solid fa-location-dot"></i>
                    </samp>
                    <p>Rue de martyrs, Monastir<br>Tunisia</p>

                </div>
                <div>
                    <samp>
                        <i class="fa-solid fa-envelope"></i>
                    </samp>
                    <a href="mailto:eliteschool&#64;email.com">eliteschool&#64;email.com</a>
                </div>
                <div>
                    <samp>
                        <i class="fa-solid fa-phone-volume"></i>
                    </samp>
                    <a href="tel:+21629923380">+216 29923380</a>
                </div>
                <!--social media-->
                <ul class="sci">
                    <li><a routerLink="/">
                            <i class="fab fa-facebook-f"></i>
                        </a></li>
                    <li><a routerLink="/">
                            ><i class="fab fa-instagram"></i>
                        </a></li>
                    <li><a routerLink="/">
                            <i class="fab fa-linkedin-in"></i>

                        </a>
                    </li>

                </ul>
            </div>

        </div>


        <!--map box-->
        <div class="contact map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12948.598362447632!2d10.817717569775388!3d35.77170160000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1302136a5cd662a3%3A0xfda0fc93422d16b9!2sElite%20School!5e0!3m2!1sfr!2stn!4v1711079011107!5m2!1sfr!2stn"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</div>