<section class="ouverview" id="ouverview">
    <div class="content">
        <span>THE BEST WAY To equip them for the challenges of tomorrow</span>
    </div>
</section>
<section class="icons-container">
    <div class="icons">
        <img src="./assets/image/teacher.png" alt="">

        <div class="info">
            <h3>Elite Teaching</h3>
            <p>Each class has a dedicated
                teacher,educated up to the
                Best standard,with the
                skills to inspire confidence,
                creativity, and a life-long
                love of learning that enthuses
                children during their time
                here and beyond.</p>
        </div>
    </div>
    <div class="icons">
        <img src="./assets/image/subject.png" alt="">

        <div class="info">
            <h3>Curriculum</h3>
            <p>We teach all subjects to children
                using strategies that make learning
                easier and more enjoyable. Our goal
                is to help students understand and
                succeed.</p>
        </div>
    </div>
    <div class="icons">
        <img src="./assets/image/mind.png" alt="">

        <div class="info">
            <h3>Thinking and creativity</h3>
            <p> We emphasize thinking
                and creativity, empowering students
                to explore and innovate. Through
                interactive learning experiences
                we cultivate critical thinking skills
                essential for success.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="./assets/image/values.png" alt="">

        <div class="info">
            <h3>values</h3>
            <p>we teach important values like respect
                kindness, and responsibility. We believe
                in creating a positive environment where
                everyone feels valued and supported.</p>
        </div>
    </div>

</section>
<section class="info" id="info">
    <h1 class="heading">Pastoral Care</h1>

    <div class="row">

        <img src="./assets/image/care.jpg" alt="">


        <div class="content">
            <p>Elite School has a responsibility for the care, welfare, safety and the learning environment of all
                our pupils.

                Teachers, non-teaching staff, welfare staff and other adults all are part of a team. This team wants
                to ensure
                pupils are happy and secure in whatever activity they are taking part in, whether social or
                emotional .
                We have a caring commitment to guide and advise our pupils, equipping them with the skills needed to
                face the outside world.
                Teachers and non-teaching staff are encouraged to approach the care of our children in a positive
                way.
                One of the key strengths of Elite is the fantastic relationships that exist between staff and
                pupils.
                It is important to continue to foster this central part of our school culture.
            </p>

        </div>

    </div>
</section>

<section class="info" id="info">
    <h1 class="heading">Student life</h1>

    <div class="row">

        <img src="./assets/image/life1.jpg" alt="">


        <div class="content">
            <p>Our passion for education has always given us the will to build a living space in which each child
                can enrich themselves intellectually and flourish in diversity and community life. We inspire them
                to
                take any opportunity that comes their way and encourage them to embrace experiences, learn from each
                other, and be inspired through music, art, sport, and science. All this takes place in a
                happy,stimulating
                environment where everyone feels welcome and at home.

                We believe that a school is much more than a place to study.
            </p>

        </div>

    </div>
</section>

<section class="info" id="info">
    <h1 class="heading">Student life</h1>

    <div class="row">

        <img src="./assets/image/policies.jpg" alt="">


        <div class="content">
            <p>School policies cover every aspect of school life. Below are some of our most important policies for
                your reference.Policies address the practical implications of how to achieve the school’s vision and
                are a key means of ensuring that agreed values underpin day-to-day decisions and actions in our
                school.
                They are concerned with key processes within school and are about interactions between school,
                pupils,
                parents, and community. They are about ensuring highly effective teaching and learning, and safety.
            </p>
            <a href="#policies" class="btn">View all our Policies</a>
        </div>

    </div>
</section>