<div class="blog-section">
    <div class="section-content blog">
        <div class="title">
            <h2>News</h2>

        </div>
        <div class="cards">
            <div class="card">
                <div class="image-section">
                    <img src="./assets/image/tunisia.jpg">
                </div>
                <div class="article">
                    <h4>The National Day of Traditional Dress </h4>
                    <p> Today was Traditional Dress Day at our school! Students and staff
                        came dressed in an array of traditional outfits representing different
                        culture from around the globe. From colorful saris to elegant kimonos,
                        the diversity of attire reflected the rich tapestry of our community.
                        It was a fantastic celebration of cultural heritage, fostering
                        understanding and appreciation among us all...
                    </p>
                </div>
                <div class="blog-view">
                    <a routerLink="/read-more" class="button">Read More</a>

                </div>
                <div class="posted-date">
                    <p>Posted on Mars 16 2024 </p>
                </div>
            </div>

            <div class="card">
                <div class="image-section">
                    <img src="./assets/image/mom.jpg">
                </div>
                <div class="article">
                    <h4>Mother's Day </h4>
                    <p>Our children recently celebrated Mother's Day with great
                        joy and creativity! From handmade cards to thoughtful gestures,
                        they showed their love and appreciation for their mothers and mother figures.
                        It was heartwarming to witness the joy on their faces as they shared their
                        love and gratitude. We're proud of our children for recognizing the special
                        role mothers play in their lives. Happy Mother's Day to all the incredible moms ...
                    </p>
                </div>
                <div class="blog-view">
                    <a routerLink="/read-more2" class="button">Read More</a>

                </div>
                <div class="posted-date">
                    <p>Posted on May 26 2023 </p>
                </div>
            </div>
            <div class="card">
                <div class="image-section">
                    <img src="./assets/image/trip1.webp">
                </div>
                <div class="article">
                    <h4> School Trip </h4>
                    <p>Our school is gearing up for an exciting trip! Students will soon
                        embark on a journey filled with exploration and learning. Stay tuned
                        for updates on our upcoming adventure! ...
                    </p>
                </div>
                <div class="blog-view">
                    <a routerLink="/read-more3" class="button">Read More</a>

                </div>
                <div class="posted-date">
                    <p>Posted on May 30 2024 </p>
                </div>
            </div>
        </div>
    </div>
</div>